html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background: 0 0
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    border-color: #ddd
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

body {
    font-size: 0;
}

div {
    font-size: 0;
}

p {
    margin: 0;
    word-spacing: normal;
}

h1 {
    margin: 0;
    word-spacing: normal;
}

h2 {
    margin: 0;
    word-spacing: normal;
}

h3 {
    margin: 0;
    word-spacing: normal;
}

h4 {
    margin: 0;
    word-spacing: normal;
}

h5 {
    margin: 0;
    word-spacing: normal;
}

h6 {
    margin: 0;
    word-spacing: normal;
}

ul {
    list-style-type: none;
    -moz-padding-start: 0;
    -khtml-padding-start: 0;
    -webkit-padding-start: 0;
    -o-padding-start: 0;
    -padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

form {
    display: inline-block;
}

input {
    box-sizing: border-box;
    padding: 0px;
}

textarea {
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whitespacefix {
    word-spacing: -1px;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#trial-banner {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid white;
    left: 0;
    right: 0;
    height: 36px;
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.facebookPlaceholder {}

@font-face {
    font-family: "Cinzel";
    src: url('Cinzel-Regular.ttf') format('truetype');
    font-weight: 400;
}

#body {
    background-color: rgb(9, 43, 64);
}

.pos {
    position: relative;
    margin-top: 16px;
}

.section {
    min-width: 960px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vis {
    display: inline-block;
    vertical-align: top;
}

.pos-2 {
    position: relative;
    margin-left: 79px;
    margin-top: 0;
}

.size {
    min-width: 804px;
    width: 804px;
    min-height: 155px;
}

.para {
    padding-top: 0;
    text-indent: 0;
    margin-top: 6.24pt;
    margin-bottom: -6.24pt;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
}

.font {
    font-family: Cinzel;
    font-size: 23.25pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 43.71pt;
    letter-spacing: normal;
}

.font-2 {
    font-family: Chalkduster, sans-serif;
    font-size: 23.25pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 41.54pt;
    letter-spacing: normal;
}

.para-2 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
}

.font-3 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.para-3 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 4.64pt;
    margin-bottom: -4.64pt;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
}

.font-4 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 24.75pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 39.84pt;
    letter-spacing: normal;
}

.vis-2 {
    display: inline-block;
    vertical-align: top;
}

.pos-3 {
    position: relative;
    margin-left: 263px;
    margin-top: 41px;
}

.size-2 {
    min-width: 685px;
    width: 685px;
    min-height: 652px;
}

.vis-3 {
    display: inline-block;
    vertical-align: top;
}

.pos-4 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
}

.size-3 {
    min-width: 438px;
    width: 438px;
    min-height: 652px;
}

.cont-4 {
    z-index: 2;
}

.vis-4 {
    display: inline-block;
    vertical-align: top;
}

.pos-5 {
    position: relative;
    margin-left: 0;
    margin-top: 0;
}

.size-4 {
    min-width: 438px;
    width: 438px;
    min-height: 652px;
}

.cont-5 {
    z-index: 3;
    border: 0;
    border-radius: 18px;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(39, 143, 245)), color-stop(1, rgba(39, 143, 245, 0)));
    background-image: -o-linear-gradient(right, rgb(39, 143, 245) 0%, rgba(39, 143, 245, 0) 100%);
    background-image: -webkit-linear-gradient(right, rgb(39, 143, 245) 0%, rgba(39, 143, 245, 0) 100%);
    background-image: -ms-linear-gradient(right, rgb(39, 143, 245) 0%, rgba(39, 143, 245, 0) 100%);
    background-image: linear-gradient(to right, rgb(39, 143, 245) 0%, rgba(39, 143, 245, 0) 100%);
    background-clip: padding-box;
}

.vis-5 {
    display: inline-block;
    vertical-align: top;
}

.pos-6 {
    position: relative;
    margin-left: 28px;
    margin-top: 3px;
}

.size-5 {
    min-width: 381px;
    width: 381px;
    min-height: 40px;
}

.cont-6 {
    z-index: 4;
}

.para-4 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-5 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(12, 1, 1);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-6 {
    display: inline-block;
    vertical-align: top;
}

.pos-7 {
    position: relative;
    margin-left: 27px;
    margin-top: -2px;
}

.size-6 {
    min-width: 383px;
    width: 383px;
    min-height: 39px;
}

.cont-8 {
    z-index: 5;
}

.input {
    border: 1px solid rgb(90, 84, 84);
    background-color: rgb(248, 245, 246);
    padding: 4px;
    width: 383px;
    height: 39px;
    font-size: 9.00pt;
    outline: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.vis-7 {
    display: inline-block;
    vertical-align: top;
}

.pos-8 {
    position: relative;
    margin-left: 28px;
    margin-top: 10px;
}

.size-7 {
    min-width: 381px;
    width: 381px;
    min-height: 40px;
}

.cont-9 {
    z-index: 6;
}

.para-5 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-6 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-8 {
    display: inline-block;
    vertical-align: top;
}

.pos-9 {
    position: relative;
    margin-left: 28px;
    margin-top: 0;
}

.size-8 {
    min-width: 381px;
    width: 381px;
    min-height: 38px;
}

.cont-11 {
    z-index: 7;
}

.input-2 {
    border: 0;
    background-color: rgb(240, 233, 238);
    padding: 4px;
    width: 381px;
    height: 38px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.vis-9 {
    display: inline-block;
    vertical-align: top;
}

.pos-10 {
    position: relative;
    margin-left: 28px;
    margin-top: 17px;
}

.size-9 {
    min-width: 381px;
    width: 381px;
    min-height: 39px;
}

.cont-12 {
    z-index: 8;
}

.para-6 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-7 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-10 {
    display: inline-block;
    vertical-align: top;
}

.pos-11 {
    position: relative;
    margin-left: 27px;
    margin-top: 2px;
}

.size-10 {
    min-width: 381px;
    width: 381px;
    min-height: 38px;
}

.cont-14 {
    z-index: 9;
}

.input-3 {
    border: 0;
    background-color: rgb(248, 245, 246);
    padding: 4px;
    width: 381px;
    height: 38px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.vis-11 {
    display: inline-block;
    vertical-align: top;
}

.pos-12 {
    position: relative;
    margin-left: 26px;
    margin-top: 6px;
}

.size-11 {
    min-width: 381px;
    width: 381px;
    min-height: 40px;
}

.cont-15 {
    z-index: 10;
}

.para-7 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-8 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-12 {
    display: inline-block;
    vertical-align: top;
}

.pos-13 {
    position: relative;
    margin-left: 28px;
    margin-top: 1px;
}

.size-12 {
    min-width: 381px;
    width: 381px;
    min-height: 37px;
}

.cont-17 {
    z-index: 11;
}

.input-4 {
    border: 0;
    background-color: rgb(248, 245, 246);
    padding: 4px;
    width: 381px;
    height: 37px;
    font-size: 9.00pt;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(11, 4, 9);
    line-height: 10.74pt;
    letter-spacing: normal;
    text-indent: 0;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.vis-13 {
    display: inline-block;
    vertical-align: top;
}

.pos-14 {
    position: relative;
    margin-left: 32px;
    margin-top: 0;
}

.size-13 {
    min-width: 372px;
    width: 372px;
    min-height: 70px;
}

.cont-18 {
    z-index: 13;
}

.para-8 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 1.97pt;
    margin-bottom: -1.97pt;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
}

.font-9 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 10.50pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 16.90pt;
    letter-spacing: normal;
}

.vis-14 {
    display: inline-block;
    vertical-align: top;
}

.pos-15 {
    position: relative;
    margin-left: 25px;
    margin-top: -16px;
}

.size-14 {
    min-width: 385px;
    width: 385px;
    min-height: 48px;
}

.cont-20 {
    z-index: 12;
}

.vis-15 {
    display: inline-block;
    overflow: hidden;
    outline: 0;
}

.size-15 {
    width: 383px;
    height: 34px;
}

.font-10 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 13.50pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(249, 243, 243);
    line-height: 15.52pt;
    letter-spacing: 2.33px;
    text-indent: 0;
    padding-right: 0;
    text-align: center;
    word-wrap: break-word;
    padding-top: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.button {
    border: 1px solid rgb(70, 65, 65);
    border-radius: 10px;
    background-color: rgb(9, 43, 64);
}

.button:hover {
    background-color: rgb(5, 102, 168);
    border-color: rgb(249, 243, 243);
    color: rgb(249, 243, 243);
}

.button:active {
    background-color: rgb(39, 143, 245);
    border-color: rgb(249, 243, 243);
    color: rgb(248, 245, 246);
}

.vis-16 {
    display: inline-block;
    vertical-align: top;
}

.pos-17 {
    position: relative;
    margin-left: -213px;
    margin-top: 31px;
}

.size-16 {
    min-width: 22px;
    width: 22px;
    min-height: 41px;
}

.cont-21 {
    z-index: 14;
}

.para-9 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-11 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-17 {
    display: inline-block;
    vertical-align: top;
}

.pos-18 {
    position: relative;
    margin-left: 28px;
    margin-top: 0;
}

.size-17 {
    min-width: 381px;
    width: 381px;
    min-height: 51px;
}

.cont-23 {
    z-index: 15;
}

.vis-18 {
    display: inline-block;
    vertical-align: top;
}

.pos-19 {
    position: relative;
    margin-left: 89px;
    margin-top: 26px;
}

.size-18 {
    min-width: 259px;
    width: 259px;
    min-height: 53px;
}

.cont-24 {
    z-index: 16;
}

.para-10 {
    padding-top: 0;
    text-indent: 0;
    margin-top: 2.95pt;
    margin-bottom: -2.95pt;
    padding-right: 0;
    text-align: left;
    word-wrap: break-word;
}

.font-12 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 15.75pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(253, 236, 248);
    line-height: 25.36pt;
    letter-spacing: normal;
}

.vis-19 {
    display: inline-block;
    vertical-align: top;
}

.pos-20 {
    position: relative;
    margin-left: 115px;
    margin-top: 43px;
}

.size-19 {
    min-width: 67px;
    width: 67px;
    min-height: 65px;
    height: 65px;
}

.anchor {
    display: block;
    width: 67px;
}

.img {
    position: absolute;
    left: 1px;
    width: 65px;
    height: 65px;
    top: 0;
}

.vis-20 {
    display: inline-block;
    vertical-align: top;
}

.pos-21 {
    position: relative;
    margin-left: 9px;
    margin-top: 42px;
}

.size-20 {
    min-width: 56px;
    width: 56px;
    min-height: 60px;
    height: 60px;
}

.anchor-2 {
    display: block;
    width: 56px;
}

.img-2 {
    position: absolute;
    left: 0;
    width: 56px;
    height: 56px;
    top: 2px;
}


